body {
  background-image: url('/pokemon-background.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
}

.main-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco con algo de transparencia */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1, h2 {
  text-align: center;
  color: #e74c3c; /* Color rojo Pokémon */
  text-shadow: 1px 1px #000; /* Sombra ligera */
  -webkit-text-stroke: 1px black; /* Borde negro para mejorar la legibilidad */
  margin-bottom: 1rem;
}

h1 {
  font-size: 4rem; /* Aumenta el tamaño del título principal */
}

h2 {
  font-size: 2.5rem;
  color: #f39c12; /* Amarillo Pokémon */
}

.mode-list {
  list-style-type: none;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mode-list li {
  margin: 10px 0;
}

.mode-list button {
  font-size: 1.5rem;
  padding: 0.7rem 2rem; /* Espaciado uniforme */
  width: 220px; /* Fija el ancho de todos los botones */
  border-radius: 10px;
  border: 2px solid #2c3e50; /* Borde más oscuro */
  background-color: #ffcc00; /* Color amarillo Pokémon */
  color: #2c3e50; /* Texto más oscuro para contraste */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mode-list button:hover,
.mode-list button.selected {
  background-color: #f39c12; /* Cambia a un amarillo más fuerte al pasar el mouse */
}

button {
  font-size: 1.5rem;
  padding: 0.7rem 2rem; /* Espaciado uniforme */
  width: 220px; /* Fija el ancho de todos los botones */
  border-radius: 10px;
  border: 2px solid #2c3e50; /* Borde más oscuro */
  background-color: #e74c3c; /* Color amarillo Pokémon */
  color: antiquewhite; /* Texto más oscuro para contraste */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c0392b; /* Fondo más oscuro en hover */
  color: #ffffff; /* Cambia el texto a blanco en hover */
}

.score-wrapper {
  border-radius: 5px;
  border: 2px solid black;
  background-color: antiquewhite;
  width: 10vw;
  height: 20vh;
  margin-top: 10vh;
}

p {
  margin-left: 1vw;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Coloca tantas columnas como quepan, cada una de al menos 200px */
  gap: 10px;
  width: 60vw;
  margin-right: 10vw;
  
}

.card {
  width: 200px;
  height: 270px;
  perspective: 1000px;
  cursor: pointer;
  user-select: none;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

img {
  pointer-events: none;
}

.card-front img {
  width: 200px;
  height: 270px;
  object-fit: fill;
}

.card-back img {
  border: 2px solid;
  border-radius: 15px;
  width: 198px;
  height: 268px;
  object-fit: contain;
  background-color: turquoise;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
  cursor: default;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.slider-container {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  justify-content: center;
  margin-right: 8.5rem;
}

/* Estilo del label del slider */
.slider-container label {
  font-size: 1.2rem;
  color: #2c3e50; /* Texto oscuro */
  font-weight: bold;
}

/* Estilo del slider */
.pokemon-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 10px;
  background: linear-gradient(to right, #ffcc00, #f39c12);
  border-radius: 5px;
  border: 2px solid #2c3e50;
  outline: none;
  transition: background 0.3s ease;
}

.pokemon-slider.pichu::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px; /* Ajustar al tamaño de la imagen */
  height: 40px;
  background: url('/pichu.webp') center/cover no-repeat; /* Imagen por defecto */
  border-radius: 50%;
  cursor: pointer;
}

.pokemon-slider.pikachu::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px; /* Ajustar al tamaño de la imagen */
  height: 40px;
  background: url('/pikachu.webp') center/cover no-repeat; /* Imagen por defecto */
  border-radius: 50%;
  cursor: pointer;
}

.pokemon-slider.raichu::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px; /* Ajustar al tamaño de la imagen */
  height: 40px;
  background: url('/raichu.webp') center/cover no-repeat; /* Imagen por defecto */
  border-radius: 50%;
  cursor: pointer;
}

.pokemon-slider.mewtwo::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px; /* Ajustar al tamaño de la imagen */
  height: 40px;
  background: url('/mewtwo.webp') center/cover no-repeat; /* Imagen por defecto */
  border-radius: 50%;
  cursor: pointer;
}

.pokemon-slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: url('/pichu.webp') center/cover no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

/* Estilo del valor del slider */
.slider-value {
  font-size: 1.2rem;
  margin-left: 10px;
  color: #2c3e50; /* Texto oscuro */
  font-weight: bold;
}