body {
  background-image: url('/pokemon-background.jpg');
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vw;
}

#score-container {
  border-radius: 5px;
  border: 2px solid black;
  background-color: antiquewhite;
  width: 10vw;
  height: 20vh;
  margin-top: 10vh;
}

p {
  margin-left: 1vw;
}

#game-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Coloca tantas columnas como quepan, cada una de al menos 200px */
  gap: 10px;
  width: 60vw;
  margin-right: 10vw;
  
}

.card {
  width: 200px;
  height: 270px;
  perspective: 1000px;
  cursor: pointer;
  user-select: none;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

img {
  pointer-events: none;
}

.card-front img {
  width: 200px;
  height: 270px;
  object-fit: fill;
}

.card-back img {
  border: 2px solid;
  border-radius: 15px;
  width: 198px;
  height: 268px;
  object-fit: contain;
  background-color: turquoise;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
  cursor: default;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}